html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}
/* =========================
   CUSTOM SCROLLBAR (GLOBAL)
   ========================= */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(130, 140, 255, 0.6),
    rgba(255, 107, 220, 0.6)
  );
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(130, 140, 255, 0.9),
    rgba(255, 107, 220, 0.9)
  );
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(150, 150, 255, 0.6) transparent;
}
