<div class="chat-window">

  <div class="chat-header">
    <div>
      <div class="name">{{ selectedName || 'Select a chat' }}</div>
      <div class="status">Offline</div>
    </div>
  </div>

  <div #chatBody class="chat-body">
    <div *ngIf="isLoading" class="loading">Loading messages...</div>

    <div *ngFor="let msg of messages"
         class="message-row"
         [ngClass]="msg.senderId === senderId ? 'me' : 'other'">

      <div class="bubble">
        <div class="text">{{ msg.messageText }}</div>
        <div class="meta">
          {{ msg.sentAt | date:'shortTime' }}
          <div class="meta">
  

  <span *ngIf="msg.senderId === senderId">
    <span *ngIf="msg.status === 'Sent'">✔</span>
    <span *ngIf="msg.status === 'Delivered'">✔✔</span>
    <span *ngIf="msg.status === 'Seen'" class="seen">✔✔</span>
  </span>
</div>

        </div>
      </div>

    </div>
  </div>

  <div class="chat-input">
   <input
  [(ngModel)]="message"
  placeholder="Type a message..."
  (keydown.enter)="$event.preventDefault(); send()"
/>


    <button type="button" (click)="send()">➤</button>

  </div>

</div>
