<div class="chat-window">

  <div class="chat-header">
  <div class="header-text">
    <div class="name">{{ selectedName || 'Select a chat' }}</div>

    <!-- ONLINE / OFFLINE -->
    <div class="status" *ngIf="!isTyping">
      <span *ngIf="isOnline; else offline">Online</span>
      <ng-template #offline>Offline</ng-template>
    </div>

    <!-- TYPING -->
    <div class="typing" *ngIf="isTyping">
      typing…
    </div>
  </div>
</div>


  <div #chatBody class="chat-body">
    <div *ngIf="isLoading" class="loading">Loading messages...</div>

    <div *ngFor="let msg of messages"
         class="message-row"
         [ngClass]="msg.senderId === senderId ? 'me' : 'other'">

      <div class="bubble">
        <div class="text">{{ msg.messageText }}</div>
        <div class="meta">
          {{ msg.sentAt | date:'shortTime' }}
          <div class="meta">
  

 <span *ngIf="msg.senderId === senderId" class="ticks">

  <!-- Sent -->
  <!-- <svg *ngIf="msg.status === 'Sent'" class="tick single" viewBox="0 0 16 15">
    <path d="M5.5 11.5L1.5 7.5L0 9l5.5 5.5L16 4l-1.5-1.5z"/>
  </svg>

 
  <svg *ngIf="msg.status === 'Delivered'" class="tick double" viewBox="0 0 16 15">
    <path d="M1 7l4 4L14 2"/>
    <path d="M5 7l4 4L16 2"/>
  </svg>

  
  <svg *ngIf="msg.status === 'Read'" class="tick double read" viewBox="0 0 16 15">
    <path d="M1 7l4 4L14 2"/>
    <path d="M5 7l4 4L16 2"/>
  </svg> -->

</span>


</div>

        </div>
      </div>

    </div>
  </div>

  <div class="chat-input">
   <input
  [(ngModel)]="message"
  (input)="onTyping()"
  placeholder="Type a message..."
  (keydown.enter)="$event.preventDefault(); send()"
/>


    <button type="button" (click)="send()">➤</button>

  </div>

</div>
