.container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 25%;
  background: #f0f2f5;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.user {
  padding: 10px;
  background: white;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 5px;
}

.user:hover {
  background: #e9edef;
}

.chat-area {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 15px;
  background: #efeae2;
  overflow-y: auto;
}

.me {
  background: #d9fdd3;
  align-self: flex-end;
  padding: 8px 12px;
  border-radius: 8px;
  margin: 5px;
  max-width: 60%;
}

.other {
  background: white;
  align-self: flex-start;
  padding: 8px 12px;
  border-radius: 8px;
  margin: 5px;
  max-width: 60%;
}

.input-box {
  display: flex;
  padding: 10px;
  background: #f0f2f5;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.input-box button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  background: #00a884;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
